[submodule "libs/filesystem"]
	path = libs/filesystem
	url = https://github.com/boostorg/filesystem
[submodule "libs/program_options"]
	path = libs/program_options
	url = https://github.com/boostorg/program_options
[submodule "libs/boostsystem"]
	path = libs/boostsystem
	url = https://github.com/boostorg/system.git
[submodule "libs/boostpredef"]
	path = libs/boostpredef
	url = https://github.com/boostorg/predef.git
[submodule "libs/argumentative"]
	path = libs/argumentative
	url = https://github.com/diosmosis/argumentative.git
